Options -Indexes

<FilesMatch "^\.env">
    Require all denied
</FilesMatch>

AddType application/manifest+json .webmanifest

RewriteEngine On

RewriteRule ^(assets/.*|uploads/.*|manifest\.webmanifest|service-worker\.js|icon\.svg)$ public/$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ public/index.php [L]
